<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Couchbase.Lite-PCL" version="1.4.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="SpotifyAPI-NET" version="2.16.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.4.0.282" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>